<header>
    <nav class="header">
        <ul>
            <li><a routerLink="github" routerLinkActive="active">GitHub</a></li>
            <li><a routerLink="githubTwo" routerLinkActive="active">GitHub2</a></li>
            <li><a routerLink="memigo" routerLinkActive="active">Memigo</a></li>
            <li><a routerLink="memigoTwo" routerLinkActive="active">Memigo2</a></li>
            <li><a routerLink="memigoThree" routerLinkActive="active">Memigo3</a></li>
        </ul>
    </nav>
</header>
